@model SpeedRunDetailsViewModel

@{
    ViewBag.Title = "SpeedRun Details";
}
<h2 class="text-center mt-2">@ViewBag.Title</h2>
<hr />
<div class="container" style="display:inline">
    

    <partial name="_SpeedRunDetailsPartial" model="@Model"/>

    @if (User.IsInRole(ApplicationRoles.Moderaton.ToString()) || User.IsInRole(ApplicationRoles.Admin.ToString()))
    {
            <div class="d-flex justify-content-center gap-3">
            @if (Model.IsVerified == false && Model.IsActive)
            {
                <a id="infoBtn" class="ml-2 btn btn-info" asp-controller="Moderation" asp-action="Verify" asp-route-speedRunId="@Model.Id.ToString()">Verify</a>
                <a class="ml-2 btn btn-danger" asp-controller="Moderation" asp-action="Disqualify" asp-route-speedRunId="@Model.Id.ToString()">Disqualify</a>
            }
            else if (Model.IsVerified && Model.IsActive)
            {
                <a class="ml-2 btn btn-danger" asp-controller="Moderation" asp-action="Disqualify" asp-route-speedRunId="@Model.Id.ToString()">Disqualify</a>
            }
            </div>
    }
</div>
@section Scripts{
        <script src="~/js/SpeedRunDetails.js"></script>
}